body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009961;
  text-decoration: none;
}

a:hover {
  color: #00cc81;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*Navbar*/

.navbar {
  background-size: cover;
}


/* main */
#main {
  width: 100%;
  height: 50vh;
  background: url("../img/food.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  
}

#main:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#main .container {
  padding-top: 72px;
  position: relative;
  text-align: center;
}

#main h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#main h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

#main .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

#main .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}



#main .play-btn:hover::after {
  border-left: 15px solid #009961;
  transform: scale(20);
}

#main .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}



/*--------------------------------------------------------------
# Sections about
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}


.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009961;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #777777;
  font-size: 15px;
}





/*--------------------------------------------------------------
# wsweform
--------------------------------------------------------------*/
.wsweform {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/food.jpg") top center;
  background-size: cover;
  padding: 120px 0;
}

.wsweform h1 {
  color: blanchedalmond;
}
.wsweform label {
  color: blanchedalmond;
}

.wsweform h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.wsweform p {
  color: #fff;
}

.wsweform button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  background: #009961;
  color: #fff;
  border-radius: 50px;
}

.wsweform .wsweform-btn:hover {
  background: #00b371;
}




